@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300&display=swap');

*{
    padding:0;
    margin: 0;
}
body,html{

}

.logInContainer{
    width: 100%;
}

.logInFlexBox{
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100vh;
}

.logo{
    width: 35%;
    background-color: #0049B3;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
}

.logo h1{
    margin:1em 0;
    font-size: 1.125em;
    letter-spacing: 3px;
    font-weight: 600;
}

.logo h2{
    font-size: 1em;
}
.form{
    width: 65%;
    background-color: white;
}

.img-logo{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   margin: 0 auto;
}

.formTitle{
    font-family: sans-serif;
    color: #0049B3;
    margin-bottom: 2em;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 4px;
}


.form input{ 

    width: 400px;
    border: none;
    border-bottom: 2px solid #0049B3;
    color: #0049B3;
    font-size: 1.5em;
    margin:2em auto;
}

.form button{
    width: 200px;
    margin: 0 auto;
    background: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    color: #0049B3;
    font-weight: 600;
}

.form p{
   
    text-align: left;
    font-size: 0.8em;
    margin-bottom: -2.7em;
    color: #0049B3;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.inputContainer{
    max-width: 50%;
    margin: 0 auto;
}

.formError{
    color: red;
    font-family: sans-serif;
}



/**LANDING PAGE CSS**/

.navlogo
{
    width: 40px;
    height: 40px;
    padding: .5em;
    max-height: 100%;
    max-width: 100%;
}

.navwindow1
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0049B3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

.landnav
{
    padding: 0% 3% 0%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #bfdbfe;
    font-family: sans-serif;
    color:black;
    font-size: 1.3em;
}

.navwindow2 a
{
    text-decoration: none;
}

.navwindow2 a:visited
{
    color:black;
}

.navwindow2
{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    font-weight: lighter;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;

}

.navlabelbut
{
    background-color: #0049B3;
    padding: .4em;
    border-radius: 5px;
}

.navlabelbut p
{
    color: white;
}

.landwindow3
{
    display: flex;
    align-items: center;
    padding: 8em 2em 8em;
}

.landleft1
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.landlefttext1
{
    font-size:6.5em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
}

.landlefttext2
{
    font-size:2em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

.landbutton1
{
    color: white;
    background-color: #0049B3;
    padding: .8em 9em .8em;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}
.landbutt
{
    margin-top:3em;
}


.landgrp2
{
    background-color: #bfdbfe;
    padding: 5em 0em 5em;
}


.landcontainer2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landflexbox2
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3em;
}

.landbox1
{
    background-color: #0049B3;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    height: 600px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 1em;
}


.landbox1 ul li
{
    list-style-type: none;
    font-size: 1.3em;
    padding: .5em 0em .5em;
}

.landheader2
{
    font-size: 10em;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #0049B3;
}

.header2_1
{
    color: #bfdbfe;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 1em;
}


.landflexbox3 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15em 0em 15em;
}

.header3
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 7em;
    color: #0049B3;
}

.text3
{
    padding-top: 3em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
}

.landgrp4
{
    background-color:#bfdbfe;
    height: 677x;
}

.landflexbox4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 4em 0em;
}


.landh4
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: #0049B3;
    padding-bottom: 1em;
}

.landform label
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #0049B3;
}